{% extends 'loginBase.html' %}

<!-- tab title-->
{% block title %}Login Admin{% endblock title %}        


<!--url routing for the login form action -->
{% block formAction %}/adminLog/{% endblock formAction %}      

<!--code for color of the heading and button-->
{% block colorOfHeading %}warning{% endblock colorOfHeading %}
{% block buttonColor %}warning{% endblock buttonColor %}

<!-- heading of the form (user or admin) -->
{% block heading %}Login for Admin{% endblock heading %}    
{% block butto_name %}Log In{% endblock butto_name %}
{% block extrabutton %}<div class="d-grid gap-2 mt-3">
    <button class="btn btn-warning text-white" type="submit"><a href='/'>Back to User Login</a></button>
  </div>{% endblock extrabutton %}

